<!DOCTYPE html>
<html lang="es">
<head>
    <title>Portafolio</title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#yo">Yo</a></li>
                <li><a href="#perfil">Perfil</a></li>
                <li><a href="#trabajo">Trabajo</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
        <figure>
            <img src="avatar.jpg" alt="Imegen Personal"/>
            <figcaption>
                <a href="http://www.twitter.com/saraygutierrez">@saraygutierrez</a>
            </figcaption>
            <p>Saray Gutiérrez</p>
        </figure>
    </header>
    <section>
        <p>
            Hola! Si llegaste hasta aquí, puedes ver mi portafolio y contactarme
        </p>
        <a href="http://www.twitter.com/saraygutierrez">@SarayGutierrez</a>
        <a href="http://www.facebook.com/saraygv86">Saray</a>
        <a href="http://wwww.github.com/saraygutierrez">Saray</a>
    </section>
    <section>
        <article>
            <figure>
                <img src="mejorandola.jpg" alt=""/>
                <figcaption>
                    Website MedLi
                </figcaption>
            </figure>
        </article>
        <article>
            <figure>
                <img src="mejorandola.jpg" alt=""/>
                <figcaption>
                    Website MedLi
                </figcaption>
            </figure>
        </article>
        <article>
            <figure>
                <img src="mejorandola.jpg" alt=""/>
                <figcaption>
                    Website MedLi
                </figcaption>
            </figure>
        </article>
        <article>
            <figure>
                <img src="mejorandola.jpg" alt=""/>
                <figcaption>
                    Website MedLi
                </figcaption>
            </figure>
        </article>
        <article>
            <figure>
                <img src="mejorandola.jpg" alt=""/>
                <figcaption>
                    Website MedLi
                </figcaption>
            </figure>
        </article>
        <article>
            <figure>
                <img src="mejorandola.jpg" alt=""/>
                <figcaption>
                    Website MedLi
                </figcaption>
            </figure>
        </article>
    </section>
    <footer>
        <h3>Contacto</h3>
        <p>
            SI tienes una sugerencia o quieres trabajar conmigo ponte en contacto
        </p>

        <form action="">
            <input type="text" placeholder="Nombre" />
            <input type="email" placeholder="Email"/>
            <textarea name="" id="" cols="30" rows="10" placeholder="Comentarios"></textarea>
            <button type="submit"></button>
        </form>
    </footer>
</body>
</html>